* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
color: #fff;
background-color: #f0f0f0;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
background: linear-gradient(45deg, #ff5f6d, #ffc371);
color: white;
position: fixed;
top: 0;
width: 100%;
 z-index: 1000;
}

.logo h1 {
font-size: 32px;
}

nav ul {
list-style: none;
display: flex;
}
nav ul li {
margin-left: 30px;
}
nav ul li a {
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 8px 15px;
}
nav ul li a:hover {
background-color: #ff5f6d;
border-radius: 5px;
}
.project {
height: 100vh;
background: url('https://images.squarespace-cdn.com/content/v1/5ca7eb2aa56827a4cf407fd9/1561331365770-I9B1DPPCXK5ERP68H5BX/spyhouse_stpaul_latte_croissant.jpg') no-repeat center center/cover;
position: relative;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.overlay {
background-color: rgba(0, 0, 0, 0.6);
padding: 60px;
border-radius: 20px;
}


.overlay h2 {
font-size: 64px;
margin-bottom: 20px;
letter-spacing: 2px;
}

.overlay p {
font-size: 24px;
margin-bottom: 30px;
}

.cta-btn {
background-color: #ffcc00;
color: #333;
padding: 15px 30px;
font-size: 18px;
border-radius: 5px;
}
.cta-btn:hover {
background-color: #ff9900;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 15px;
position: fixed;
bottom: 0;
width: 100%;
}
