*{
    margin: 0;
    padding: 0;
}
.h1{
    display: inline;
}
header{
    height: 50px;
    background-color: black;
    color: white;
}
p{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin: 30px;
}
li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
footer{
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 15px;
    text-align: center;
    margin-top: 70vh;
}
.grid-item{
    display:inline-grid;
}
.grid-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   border: 2px solid black;
   grid-template-rows: auto;
   grid-column-gap: 10px;
   
}
.items1{
 background-color: blue;
 grid-column: 1/span 2;
 grid-row: 1/span 2;
}